[submodule "humanytek-team/sale_order_show_payments"]
	path = humanytek-team/sale_order_show_payments
	url = git@github.com:humanytek-team/sale_order_show_payments.git
	branch = 12.0

[submodule "humanytek-team/account_rename_partner"]
	path = humanytek-team/account_rename_partner
	url = git@github.com:humanytek-team/account_rename_partner.git
	branch = 12.0

[submodule "humanytek-team/account_third_parties"]
	path = humanytek-team/account_third_parties
	url = git@github.com:humanytek-team/account_third_parties.git
	branch = 12.0

[submodule "humanytek-team/sale_order_add_po"]
	path = humanytek-team/sale_order_add_po
	url = git@github.com:humanytek-team/sale_order_add_po.git
	branch = master

[submodule "humanytek-team/sale_remove_product_details"]
	path = humanytek-team/sale_remove_product_details
	url = git@github.com:humanytek-team/sale_remove_product_details.git
	branch = mexico
[submodule "humanytek-team/project_task_types"]
	path = humanytek-team/project_task_types
	url = git@github.com:humanytek-team/project_task_types.git
	branch = master
[submodule "humanytek-team/project_default_stages"]
	path = humanytek-team/project_default_stages
	url = git@github.com:humanytek-team/project_default_stages.git
	branch = master
[submodule "humanytek-team/project_eta"]
	path = humanytek-team/project_eta
	url = git@github.com:humanytek-team/project_eta.git
	branch = master
[submodule "humanytek-team/project_follower_custom_archive"]
	path = humanytek-team/project_follower_custom_archive
	url = git@github.com:humanytek-team/project_follower_custom_archive.git
	branch = master
[submodule "humanytek-team/project_follower_from_task"]
	path = humanytek-team/project_follower_from_task
	url = git@github.com:humanytek-team/project_follower_from_task.git
	branch = master
[submodule "humanytek-team/project_privacy_enforcer"]
	path = humanytek-team/project_privacy_enforcer
	url = git@github.com:humanytek-team/project_privacy_enforcer.git
	branch = master
[submodule "humanytek-team/project_task_record_by_user"]
	path = humanytek-team/project_task_record_by_user
	url = git@github.com:humanytek-team/project_task_record_by_user.git
	branch = master
[submodule "humanytek-team/project_unique_name"]
	path = humanytek-team/project_unique_name
	url = git@github.com:humanytek-team/project_unique_name.git
	branch = master
[submodule "humanytek-team/proyect_task_log_reminder"]
	path = humanytek-team/proyect_task_log_reminder
	url = git@github.com:humanytek-team/proyect_task_log_reminder.git
	branch = master
[submodule "humanytek-team/admin_fee"]
	path = humanytek-team/admin_fee
	url = git@github.com:humanytek-team/admin_fee.git
	branch = 12.0
